.main {
  display: flex;
  justify-content: center;
  .main__container {
    .main__content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 54em;
      margin-top: 1em;
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding: 100px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 20px;
  }
}
