.main {
  display: flex;
  justify-content: center;
  padding: 100px;
  .main__container {
    .main__content {
      display: flex;
      flex-wrap: wrap;
      max-width: 54em;
      margin-top: 1em;
    }
  }
}